<h1>Shorten a URL</h1>

<%= form_with model: @short_url, local: true do |f| %>
  <div>
    <%= f.label :original_url, "Enter a long URL" %><br>
    <%= f.text_field :original_url, placeholder: "https://example.com/very/long/path", size: 80 %>
  </div>
  <div>
    <%= f.submit "Shorten" %>
  </div>
<% end %>
